@import "tailwindcss";
@plugin "daisyui";

body {
  background: white;
  font-family: "Sora", sans-serif;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
